body {
    background: #E4E4E4 url(https://raw.github.com/subtlepatterns/SubtlePatterns/master/tiny_grid.png) repeat;
}

td.Gmap {
    padding-top: 0px !important;
}


.input-group {
    margin-top: 25px;
    margin-bottom: 15px;
}

.table-hover tbody tr:hover {
    background-color: rgba(129, 138, 145, 0.35) !important;
}

th {
    vertical-align: middle !important;
    text-align: center !important;
}

td {
    padding: 0 10px;
}

td:not(.GMap) {
    /*vertical-align: middle !important;*/
    text-align: center !important;
}

svg:not(.spark) {
    width: 100%;
    height: 100%;
}

td.GMap {
    text-align: center;
    min-width: 215px;
    padding-left: 0px;
    margin-bottom: 2px;

}




@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {


    .hidden-xs-1 {
        visibility: collapse;
        display: none;
    }

}


